.filter-container.form-group {
    margin: 0;
    margin-bottom: 0;
}

.pagination {
    margin: 0;
    padding: 0;
}

.pagination-container {
    float: right;
    padding: 0 15px;
}

.pagination li {
    cursor: pointer;
}

.product-table th {
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.product-table th:hover {
    background-color: rgb(244, 244, 244);
}