<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12">

        <h2>Create product</h2>
                
        <form #productForm="ngForm" (ngSubmit)="onSubmit()">     
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" 
                       name="name" 
                       placeholder="Enter name of product" 
                       type="text" 
                       [(ngModel)]="product.name"
                       required
                       minlength="4"
                       #name="ngModel"/>
            </div>
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                 class="alert alert-danger">

                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                    Name must be at least 4 characters long.
                </div>
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control"
                          name="description"
                          placeholder="Enter description of product"
                          [(ngModel)]="product.description"
                          required
                          minlength="5"
                          #description="ngModel"></textarea>
            </div>
            <div *ngIf="description.invalid && (description.dirty || description.touched)"
                 class="alert alert-danger">

                <div *ngIf="description.errors.required">
                    Description is required.
                </div>
                <div *ngIf="description.errors.minlength">
                    Description must be at least 20 characters long.
                </div>
            </div>

            <div class="form-group">
                <label>Price</label>
                <div class="row">
                    <div class="col-xs-4">
                        <span style="font-size: 18px">&euro;</span>
                        <input class="form-control"
                               style="display: inline-block; width: 38%"
                               type="number"
                               min="0"
                               name="price-amount"
                               (ngModelChange)="priceChanged()"
                               [(ngModel)]="price.amount"
                               required/>
                        <span style="font-size: 25px">,</span>
                        <input class="form-control"
                               style="display: inline-block; width: 38%"
                               type="number"
                               min="0"
                               max="99"
                               name="price-cents"
                               (ngModelChange)="priceChanged()"
                               [(ngModel)]="price.cents"
                               required
                               #pricecent="ngModel" />
                    </div>
                </div>
                
            </div>

            <input type="submit" class="btn btn-success" type="submit" [disabled]="!productForm.form.valid" value="{{ productId ? 'Edit' : 'Create' }}" />
        </form>
    </div>
</div>
