<div class="notifications">
    
    <div class="loading-container" *ngFor="let notification of notifications; let i = index" [@flyInOut]>
        <div class="loader" *ngIf="notification.type === 'loading'"></div>
        <img src="/error.png" class="error-image" *ngIf="notification.type === 'error'" />
        <img src="/check-gif.webp" class="check-gif" *ngIf="notification.type === 'success'" />
        <div class="loader-text">{{ notification.text }}</div>
        <div class="clearblock"></div>
    </div>

</div>